<div class="page-header">
  <%= link_to clientes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_cliente_path(@cliente), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Cliente</h1>
</div>

<dl class="dl-horizontal">
  <dt>C. I. Nº:</dt>
  <dd><%= @cliente.ci %></dd>

  <dt>Nombre:</dt>
  <dd><%= @cliente.nombre %></dd>

  <dt>Dirección:</dt>
  <dd><%= @cliente.direccion %></dd>

  <dt>Teléfono:</dt>
  <dd><%= @cliente.telefono %></dd>

  <dt>Fecha de contrato:</dt>
  <dd><%= @cliente.fecha_contrato %></dd>

  <dt>Fecha de conexión:</dt>
  <dd><%= @cliente.fecha_conexion %></dd>

  <dt>Observación:</dt>
  <dd><%= @cliente.observacion %></dd>

  <dt>Estado cuenta:</dt>
  <% if @cliente.estado_cuenta == true %>
    <dd>ACTIVO</dd>
  <% else %>
    <dd>INACTIVO</dd>
  <% end %>
</dl>