<%= form_for(@periodo, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @periodo.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@periodo.errors.count, "error") %> prohibited this periodo from being saved:</h4>

      <ul>
      <% @periodo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
      <%= f.label :cod, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :cod, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :mes_ano, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :mes_ano, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :fecha_vencimiento, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.date_select :fecha_vencimiento, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :estado_periodo, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :estado_periodo, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :fecha_inicio, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.date_select :fecha_inicio, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :fecha_fin, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.date_select :fecha_fin, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :cantidad_dias, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :cantidad_dias, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
