<div class="page-header">
  <%= link_to periodos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_periodo_path(@periodo), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Período</h1>
</div>

<dl class="dl-horizontal">
  <dt>Período:</dt>
  <dd><%= @periodo.periodo %></dd>

  <dt>Fecha de vencimiento:</dt>
  <dd><%= @periodo.fecha_vencimiento %></dd>

  <dt>Estado de período:</dt>
  <dd><%= @periodo.estado_periodo %></dd>

</dl>