<div class="page-header">
  <%= link_to facturas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_factura_path(@factura), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Factura</h1>
</div>

<%= render 'form' %>
<!--
<dl class="dl-horizontal">
  <dt>Nº de factura:</dt>
  <dd><%= @factura.nrofact %></dd>

  <dt>Cliente:</dt>
  <dd><%= @factura.cliente_id %></dd>

  <dt>Condición:</dt>
  <dd><%= @factura.condicion %></dd>

  <dt>Fecha:</dt>
  <dd><%= @factura.fecha %></dd>

  <dt>Iva:</dt>
  <dd><%= @factura.iva %></dd>

  <dt>Erssan:</dt>
  <dd><%= @factura.erssan %></dd>

  <dt>Total:</dt>
  <dd><%= @factura.total %></dd>

</dl>
-->