<div class="page-header">
  <%= link_to lecturas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_lectura_path(@lectura), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Lectura</h1>
</div>

<dl class="dl-horizontal">
  <dt>Cliente:</dt>
  <dd><%= @lectura.cliente_id %></dd>

  <dt>Período:</dt>
  <dd><%= @lectura.periodo_id %></dd>

  <dt>Fecha:</dt>
  <dd><%= @lectura.fecha %></dd>

  <dt>Lector:</dt>
  <dd><%= @lectura.lector %></dd>

  <dt>Anterior:</dt>
  <dd><%= @lectura.anterior %></dd>

  <dt>Actual:</dt>
  <dd><%= @lectura.actual %></dd>

  <dt>Consumo:</dt>
  <dd><%= @lectura.consumo %></dd>

  <dt>Exceso:</dt>
  <dd><%= @lectura.exceso %></dd>

</dl>