<div class="page-header">
  <%= link_to ctacteclis_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_ctactecli_path(@ctactecli), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Cuenta Corriente Cliente</h1>
</div>

<%= render 'form' %>

<!--
<dl class="dl-horizontal">
  <dt>Cliente:</dt>
  <dd><%= @ctactecli.cliente_id %></dd>

  <dt>Saldo:</dt>
  <dd><%= @ctactecli.saldo %></dd>

</dl>
-->