<!DOCTYPE html>
<html>
<head>
  <title>Gotapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="login-img-body">

  <% unless flash.empty? %>
    <script type="text/javascript">
      <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
    </script>
  <% end %>

  <div class="container col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4">
    <div class="row">
      <center>
        <%=image_tag("access.png", :size => "100x100")%>
      </center>
    </div>
    <br>
    <%= yield %>
  </div>

</body>
</html>