<!DOCTYPE html>
<html>
  <head>
    <title>Gotapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="col-md-3 col-md-offset-4">
      <% if notice %>
            <div class="alert alert-success" role="alert"><%= notice %></div>
      <% end %>
      <% if alert %>
            <div class="alert alert-danger" role="alert"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>