<!DOCTYPE html>
<html>
<head>
  <title>Gotapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="login-img-body">
  <div class="container col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4">
    <div>
      <center>
        <%=image_tag("access.png", :size => "100x100")%>
      </center>
    </div>
    <br>
    <% if notice %>
    <div id="flash1" class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= notice %>
    </div>  
    <% end %>
    <% if alert %>
    <div id="flash2" class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= alert %>
    </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>